$lightpink: #fdf2fb;
$blueVoilet: #e3eafc;
$darkBlue:#ADBBF4;
$royalBlue: #363679;
$desc: #666680;
$white: #ffffff;
$black: #000000;
$grey:#B0B0C0;
$voilet:#524FD5;
$lightVoilet: #7077E4;
$darknavy: #4A45BD;
$color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
$color-black: #181B32;

