  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');
 
  $header-font : 'Playfair Display', serif;
  $desc-font: 'Poppins', sans-serif;
  $kalam-font: 'Kalam', cursive;